# Copyright (C) 2013-2014, Eric Wong <e@80x24.org> and all contributors
# License: GPLv3 or later (https://www.gnu.org/licenses/gpl-3.0.txt)
/GIT-VERSION-FILE
/Manifest.txt
/NEWS
/pkg
/lib/dtas/version.rb
/coverage.dump
*.tar.gz
*.log
/man
*.gem
*.gz
.manifest
.gem-manifest
.tgz-manifest
