# Copyright (C) 2013-2016 all contributors <dtas-all@nongnu.org>
# License: GPL-3.0+ <https://www.gnu.org/licenses/gpl-3.0.txt>
/GIT-VERSION-FILE
/Manifest.txt
/NEWS
/NEWS.atom
/pkg
/lib/dtas/version.rb
/coverage.dump
*.tar.gz
*.log
/man
*.gem
*.gz
.manifest
.gem-manifest
.tgz-manifest
